.dashboard {
  position: absolute;
  display: flex; justify-content: center; align-items: center;
  width: 100%; height: 100%;

  .dashboardWrap {
    width: 1224px; height: 100%;
    display: flex;
  }
}
