.home {
  position: absolute;
  display: flex;
  width: 100%; height: 100%;

  .home_wrap {
    margin: 40px 0 40px 0;
    display: flex;

    .banner {
      padding: 0 40px 0 120px;

      .banner_header {
        display: flex; align-items: center;
        text-transform: uppercase;
        font-size: 0.85rem;
        
        .strip {
          display: block;
          width: 100px; height: 2px;
          background: #303030;
          margin: 0 20px 0 0;
        }
      }

      .title {
        margin: 30px 0 0 0;
        font-size: 7rem;
        line-height: 4rem;
        background: linear-gradient(-45deg, transparent, #fcf6ff);
      }

      .banner_link {
        display: flex; flex-direction: column; align-items: flex-end;
        margin: 50px 0 0 0;
        text-transform: uppercase;
        font-size: 0.85rem;

        .link {
          margin: 10px 0 0 0;
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;

      .footer_wrap {
        padding: 0 40px 40px 120px;
        display: grid; grid-template-columns: 1fr 1fr; align-items: flex-end;

        .footer_location {
          .paragraf {
            margin: 10px 0 0 0;
          }
  
          .location_code {
            letter-spacing: 0.2rem;
          }
        }

        .footer_nav {
          display: flex; justify-content: flex-end;

          .footer_nav_wrap {
            display: flex; flex-direction: column; align-items: flex-end;
            text-transform: uppercase;
            transform: rotate(90deg) translateX(-20px);

            .link {
              margin: 0 0 20px 0;
              font-size: 0.85rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .home {
    .home_wrap {
      align-items: center;
      margin: 0;

      .banner {
        padding: 0 20px 0 20px;
        transform: translateY(-40px);

        .title {
          font-size: 5rem;
          line-height: 3rem;
        }
      }

      .footer {
        .footer_wrap {
          padding: 0 20px 20px 20px;
          display: flex;

          .footer_nav {
            display: none;
          }
        }
      }
    }
  }
}
