{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "linebreak-style": "off",
        "no-underscore-dangle": "off",
        "no-undef": "off",
        "no-console": "off",
        "semi": "off",
        "brace-style": "off",
        "jsx-a11y/control-has-associated-label": "off",
        "react/prop-types": "off",
        "react/no-unescaped-entities": "off",
        "react/jsx-fragments": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/self-closing-comp": "off",
        "react/jsx-wrap-multilines": "off",
        "react/no-array-index-key": "off"
    }
}
