@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700;900&display=swap');
$fontFamily: 'Urbanist', sans-serif;

* {
  padding: 0; margin: 0;
  border: none; outline: none;
}

*::selection {
  background-color: #ddd9c9de;
}

body {
  background-color: #fffef6;
  font-family: $fontFamily; font-size: 1.1rem;
}

p { line-height: 1.4rem; }
h1, h2, h3 { line-height: 2rem; }

input, button {
  font-family: $fontFamily; font-size: 1.1rem;
  background-color: transparent;
  border-radius: 0;
}

input:-webkit-autofill {
  transition: "color 9999s ease-out, background-color 9999s ease-out";
  transition-delay: 9999s;
}

input:-webkit-autofill::first-line {
  font-size: 1.1rem;
  font-family: $fontFamily;
}

.link {
  padding: 4px 10px;
  color: #000;
  transition: cubic-bezier(0.23, 1, 0.320, 1) 0.5s;
  text-decoration: none;
  text-align: center;
  border-radius: 2rem;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }
}
