.login {
  position: fixed;
  display: flex; justify-content: center;
  width: 100%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  
  .loginWrap {
    width: 1224px;
    display: flex; justify-content: flex-end; align-items: flex-start;

    .loginForm {
      position: fixed;
      width: 400px;
      background-color: #f3f0df;
      display: grid; grid-template-columns: 1fr; gap: 20px;
      padding: 20px;
      transform: translate(-40px, 70px);

      // Button untuk menutup tab formulir
      .closeBtn {
        position: absolute;
        cursor: pointer;
        background-color: #ddd9c9;
        width: 40px; height: 40px;
        opacity: 0.5;
      }
      // Header Formulir
      h2 { opacity: 0.5; margin: 0 0 0 15px; }
      .notif {
        position: fixed;
        width: 100%; height: 100%;
        display: flex; justify-content: center; align-items: center;
        background-color: #ddd9c9c0;
        
        .notifWrap {
          margin: 0 40px;
          padding: 20px;
          display: flex; flex-direction: column; align-items: flex-start;
          background-color: #f3f0df;

          button {
            margin: 15px 0 0 0;
            border-bottom: 1px solid #b3b1a5;
            padding: 2px 0;
            cursor: pointer;
          }
          button:hover {
            opacity: 0.7;
          }
        }
      }
      .input { border-bottom: 1px solid #b3b1a5; padding: 10px 15px; }
      .submit { background-color: #ddd9c9; padding: 10px 0; cursor: pointer; }
      .submit:hover {
        filter: brightness(0.95);
      }
      .ask {
        margin: 20px 0 0 0;
        font-size: 1rem;
        button {
          font-size: 1rem;
          text-decoration: underline;
          margin: 0 0 0 10px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .login {
    height: 100%;
    .loginWrap {
      justify-content: center; align-items: flex-end;
      
      .loginForm {
        position: relative;
        width: 100%;
        transform: translate(0);
      }
    }
  }
}
