.register {
  position: fixed;
  display: flex; justify-content: center;
  width: 100%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;

  .registerWrap {
    width: 1224px;
    display: flex; justify-content: flex-end; align-items: flex-start;

    .registerForm {
      position: relative;
      width: 400px;
      background-color: #f3f0df;
      display: grid; grid-template-columns: 1fr; gap: 20px;
      padding: 20px;
      transform: translate(-40px, 70px);
      // Button untuk menutup tab formulir
      .closeBtn {
        position: absolute;
        cursor: pointer;
        background-color: #ddd9c9;
        width: 40px; height: 40px;
        opacity: 0.5;
      }
      // Header Formulir
      h2 { opacity: 0.5; margin: 0 0 0 15px; }

      .input { border-bottom: 1px solid #b3b1a5; padding: 10px 15px; }
      .submit { background-color: #ddd9c9; padding: 10px 0; }
      .ask {
        margin: 20px 0 0 0;
        font-size: 1rem;
        button {
          font-size: 1rem;
          text-decoration: underline;
          margin: 0 0 0 10px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .register {
    height: 100%;
    .registerWrap {
      justify-content: center; align-items: flex-end;
      
      .registerForm {
        width: 100%;
        transform: translate(0);
      }
    }
  }
}
